doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        script(src="https://unpkg.com/@microsoft/teams-js@1.5.0/dist/MicrosoftTeams.min.js" integrity="sha384-EKT9Wswdn78EAHAqcOh50wnaPfH3aPa7YZ1R89/TCN98AhkqZJ2g47u4k2I5eCk8" crossorigin="anonymous")
        script(src="https://browser.sentry-cdn.com/5.9.1/bundle.min.js" integrity="sha384-/x1aHz0nKRd6zVUazsV6CbQvjJvr6zQL2CHbQZf3yoLkezyEtZUpqUNnOLW9Nt3v" crossorigin="anonymous")
        script.
            var pgDetails = !{JSON.stringify(pgDetails)};
            Sentry.init({ dsn: pgDetails.sentryDsnFe });
        link( rel="stylesheet" type="text/css" href= pgDetails.baseAppUrl + "/docs/selectric.css" )
        script(src=pgDetails.baseAppUrl + "/docs/jquery.selectric.min.js")
        script(src=pgDetails.baseAppUrl + "/docs/apiHandler_2.3.js")
        script(src=pgDetails.baseAppUrl + "/docs/viewHandler_3.9.js")
        script(src=pgDetails.baseAppUrl + "/docs/eventHandler_1.2.js")
        script(src=pgDetails.baseAppUrl + "/docs/langHelper.js")
        script.
            var notvalid = ['null','undefined',""]
            if (!notvalid.includes(pgDetails.programPk) && !notvalid.includes(pgDetails.userPk))
            {
                (function(apiKey){
                    (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=[];
                    v=['initialize','identify','updateOptions','pageLoad','track'];for(w=0,x=v.length;w<x;++w)(function(m){
                        o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
                        y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
                        z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');
                        pendo.initialize({
                            visitor: {
                                id: pgDetails.programPk+'-'+pgDetails.userPk,
                                },
                            account: {
                                id: pgDetails.programPk,
                                }
                            });
                            })(pgDetails.pendoInstallationKey);
            }


        link( rel="stylesheet" type="text/css" href= pgDetails.baseAppUrl + "/docs/viewCSS_2.3.css" )

        style.
            #showRec label {
            display: inline-block;
            margin-bottom: .5rem;
            margin: 0;
            padding: 4px 4px 0 5px;
            }

    body
        .loading#loader(style="display:none")
            .spinner-border.text-theme
        .masterContainer
            div#userDetails
                .row
                    .col-sm-12
                        h5.recognitionHeader.Create_a_recognition Create a recognition
                    .col-sm-5#recipients
                        .l-panel
                            #grpUserNamSel.form-group
                                label.To(for="to") To
                                input.form-control.Enter_a_name(type="text",id="to",placeholder="Enter a name",onfocus="clearAllWarnings();")
                            .row#recipientContainer
                                .col-sm-73
                                    button#btn_addAll.btn.link-two.Add_channel_members(type='button' onclick='addAll();')
                                        svg#addUserImg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='10' cy='7' r='1.5' stroke='#484644')
                                            circle(cx='4' cy='8' r='1.5' stroke='#484644')
                                            path(d='M7.5 10.5H12.5V15C12.5 15.8284 11.8284 16.5 11 16.5H9C8.17157 16.5 7.5 15.8284 7.5 15V10.5Z' stroke='#484644')
                                            mask#mask0(mask-type='alpha' maskunits='userSpaceOnUse' x='2' y='11' width='7' height='5')
                                                path(d='M2.5 11.5H8.5V14C8.5 14.8284 7.82843 15.5 7 15.5H4C3.17157 15.5 2.5 14.8284 2.5 14V11.5Z' stroke='black')
                                            g(mask='url(#mask0)')
                                                rect(width='4' height='5' transform='matrix(-1 0 0 1 6 11)' fill='#484644')
                                            rect(x='15' y='3' width='1' height='5' fill='#484644')
                                            rect(x='18' y='5' width='1' height='5' transform='rotate(90 18 5)' fill='#484644')
                                        |Add channel members
                                span.tooltiptext.Some_members_in_this_group_may_not_be_eligible_to_receive_recognitions_They_will_not_be_added_to_the_recipient_list Some members in this group may not be eligible to receive recognitions. They will not be added to the recipient list.
                                .col-sm-12
                                    label.Recipients Recipients
                                    button#btn_removeAll(type='button' onclick='removeAll();') Remove all
                                    //- added names shall appear here
                                    div#recipientsArea
                    .col-sm-7
                        .r-panel
                            .form-group
                                label.Recognition_type(for="selRtype") Recognition type
                                select.form-control#selRtype
                            div(style="text-align:right;margin-top:5px")
                                span#pointsbalance(style="display:none;margin-right:5px")
                            #recogVal
                                .form-group
                                    label.Recognition_value(for="selRval") Recognition value
                                    select.form-control#selRval
                                div(style="text-align:right;margin-top:5px")
                                    span#pointSpent(style="display:none;margin-right:5px")

                .row
                    .col-sm-12
                        p#errorMessage.wrng-msg
                    .text-right.buttonContainer
                        button.btn.link-one.Sign_out(type="button",id="btn_Signout", onclick="signout();") Sign out
                        button.btn.buttonStyling.Next(type="button",id="btn_Target2") Next

            .row#recogDetails(style="display:none")
                .col-sm-12
                    h5.recognitionHeader.Create_a_recognition Create a recognition
                .col-sm-12#recogMessage
                    .form-group
                        label.Recognition_message(for="inpRmessage") Recognition message
                        textarea.form-control.Give_a_reason_for_this_recognition#inpRmessage(rows="5",maxLength="65000",placeholder="Give a reason for this recognition",onfocus="clearAllWarnings();")
                .col-sm-12
                    p#errorMessageRecog.wrng-msg
                .text-right.buttonContainer
                    button.btn.link-one.Sign_out(type="button",id="btn_Signout", onclick="signout();") Sign out
                    button.btn.buttonLite.Back(type="button",id="btn_rt_Back") Back
                    button.btn.buttonStyling.Continue(type="button",id="btn_rtNext") Continue
            .row#imageSelection(style="display:none")
                .col-sm-12
                    h5.recognitionHeader.Choose_an_image Choose an image
                .col-sm-12(style="margin-bottom: 10px;")
                    ul#myTab.nav.nav-tabs.card-header-tabs(role="tablist")
                        li.nav-item
                            a.Default(class="nav-link active" data_id="1" id="defaultImage-tab" data-toggle="tab" href="#defaultImage" role="tab" aria-controls="defaultImage" aria-selected="true" onclick="clearAllWarnings();") Default
                        li.nav-item
                            a.GIF(class="nav-link" id="gif-tab" data_id="2" data-toggle="tab" href="#gif" role="tab" aria-controls="gif" aria-selected="false" onclick="clearAllWarnings();") GIF
                        li.nav-item
                            a.Upload(class="nav-link" id="Upload-tab" data_id="3" data-toggle="tab" href="#upload" role="tab" aria-controls="Upload" aria-selected="false" onclick="clearAllWarnings();") Upload
                    #myTabContent.tab-content
                        #defaultImage.form-group.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="defaultImage-tab")
                        #gif.tab-pane.fade(role="tabpanel" aria-labelledby="gif-tab")
                            .form-group.searchDecor
                                label.Search_GIFs(for="searchGifs") Search GIFs
                                input.form-control.Search_term#searchGifs(type="text" placeholder="Search term")
                                i.fa.fa-search(aria-hidden="true")
                            .row#gifContainer(style="margin-top: 10px;")
                                .col-sm-12
                                    div#gifList
                        #upload.tab-pane.fade(role="tabpanel" aria-labelledby="Upload-tab")
                            .file-upload-wrapper
                                .container-fluid
                                    .row
                                        .col-sm-5
                                            #file-upload-form.uploader
                                                input#inputFile(type='file', name='fileUpload', accept='image/*', onchange='imgUpload(this)')
                                                label#file-drag(for='inputFile')
                                                    #start
                                                    i.fa.fa-picture-o(aria-hidden='true')
                                                    div.Upload_an_image Upload an image
                                                span#closebtn.icon.closeIcon.ShowCloseBtn
                                                #gifimg
                                                    img#file-image.hidden(src='#', alt='Preview')
                                        .col-sm-7
                                            div(style="margin-top:23px;")
                                                button.preview.btn.buttonStyling.Upload_an_image(type='button', onclick="document.getElementById('inputFile').click()", style="text-transform: none")
                                                    | Upload an
                                                    | image
                                                span.size-limit.File_size_limit_is_10MB File size limit is 10MB
                .col-sm-12
                    p#errorMessageImage.wrng-msg
                .col-lg-12.btn-grid
                    button.btn.link-one.Sign_out(type="button",id="btn_Signout", onclick="signout();") Sign out
                    button.btn.buttonLite.Back(onclick="viewPage('recogDetails')", type='button')
                        | Back
                    button.btn.buttonStyling.Next(type="button",id="btn_Target3") Next
            .row#shareRecognition(style="display:none")
                .col-sm-12
                    h5.recognitionHeader.Share_Recognition Share Recognition
                    input#shareCheck(type='checkbox' name='shareCheck')
                    label.sharelabel.Share_with_recipients_managers(for='shareCheck') Share with recipient's manager(s)
                .col-sm-12#recogMessage
                    #shareRecogbind.form-group
                        label.Who_else_should_know(for="inpRemoveText") Who else should know?
                        input.form-control.Enter_a_name(type="text", id="inpRemoveText" placeholder="Enter a name",onfocus="clearAllWarnings();")
                    .row#shareRecogContainer

                #removeSharedNominees.colg-lg-12(style='display: none;')
                    #showRec
                        label.Share_with(for='scales') Share with:
                        //- input#shareCheck(type='checkbox' name='shareCheck')
                        //- label(for='shareCheck') Their manager(s)
                        .col-sm-12.scrollwidth
                            //- added names shall appear here
                            div#sharedmanagersArea

                .col-sm-12
                    p#errorMessageImage.wrng-msg
                .col-lg-12.btn-grid
                    button.btn.link-one.Sign_out(type="button",id="btn_Signout", onclick="signout();") Sign out
                    button.btn.buttonLite.Back(onclick="viewPage('imageSelection')", type='button')
                        | Back
                    button.btn.buttonStyling.Preview(onclick='showPreview()', type='button')
                        | Preview
            .row#previewRecog(style="display:none")
                .col-sm-12
                    h5.recognitionHeader.Preview_recognition Preview recognition
                .col-sm-12#recPreview
                    .jumbotron
                        .container-fluid
                            .row
                                .col-sm-3
                                    #previewImage
                                .col-sm-9
                                    .previewText
                                        h3.insideRecogPreview.Recognized_for#previewRecogCriterion Recognized for
                                            span#recogTypePlaceholder
                                        span.insideRecogPreview#previewRecogNominees
                                        p.insideRecogPreview#previewRecogMessage
                                        insideRecogPreview
                                            span.From From:
                                                strong#previewRecogFrom
                .col-sm-12
                    p#errorMessageSubmit.wrng-msg
                .text-right.buttonContainer
                    button.btn.link-one.Sign_out(type="button",id="btn_Signout", onclick="signout();") Sign out
                    button.btn.buttonLite.Back(type="button",id="btn_Submit_Back") Back
                    button.btn.buttonStyling.Post(type="button",id="btn_Submit") Post
            .row#logoutnotification(style="display:none")
                .col-sm-12
                    div#logoutblock.text-center
                        span.You_have_been_successfully_signed_out_Please_close_this_window You have been successfully signed out. Please close this window.
            .row#sessionexpirynotification(style="display:none")
                .col-sm-12
                    div#logoutblock.text-center.Your_session_has_expired_To_continue_please_close_this_window_and_reopen_the_Achievers_app
                        span Your session has expired. To continue, please close this window and reopen the Achievers app.
            #suggestContainer