<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato%7CNoto+Sans&display=swap" rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@microsoft/teams-js@1.5.0/dist/MicrosoftTeams.min.js" integrity="sha384-EKT9Wswdn78EAHAqcOh50wnaPfH3aPa7YZ1R89/TCN98AhkqZJ2g47u4k2I5eCk8" crossorigin="anonymous"></script>
    <script src="https://browser.sentry-cdn.com/5.9.1/bundle.min.js" integrity="sha384-/x1aHz0nKRd6zVUazsV6CbQvjJvr6zQL2CHbQZf3yoLkezyEtZUpqUNnOLW9Nt3v" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../docs/selectric.css">
    <link rel="stylesheet" type="text/css" href="../../docs/viewCSS_2.3.css">
    <script src="../../docs/eventHandler_1.2.js"></script>
    <script src="../../docs/apiHandler_2.3.js"></script>
    <script src="../../docs/langHelper.js"></script>
    <script src="../../docs/viewHandler_3.9.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/12b80b131a.js" crossorigin="anonymous"></script>

    <script>

        var newsFeedActivities = <%-finalObject%>
        var pgDetails = <%-pgDetails%>
        var showHelpPage = <%-showHelpPage%>
        var userObj = <%-userObj%>
        microsoftTeams.appInitialization.notifyAppLoaded();
        microsoftTeams.appInitialization.notifySuccess();

        $(document).ready(function(){
            if(showHelpPage){
                $(".secondDiv").show()
                $(".firstDiv").hide()
            } else {
                $(".secondDiv").hide()
                $(".firstDiv").show()
                mapNewsFeedActivity(newsFeedActivities,pgDetails.nextCursor);
                if(userObj){
                    $(".recipientName").append(`${userObj.first_name} ${userObj.last_name}`);
                    $('.userProfileImage').append($('<img>', {
                        src : `${userObj.profile_image_url}`,
                        class: "rounded-circle userProfileImageTag"
                    }));
                    $(".userProfileImage").wrap($("<a target='_blank'>").attr("href", `${userObj.subDomain}/profile/${userObj.user_pk}`));
                    $(".recipientName").wrap($("<a target='_blank'>").attr("href", `${userObj.subDomain}/profile/${userObj.user_pk}`));
                    $("#seePrflClasslink").wrap($("<a target='_blank'>").attr("href", `${userObj.subDomain}/profile/${userObj.user_pk}`));
                    $(".nudgesSeePrflClass").wrap($("<a target='_blank'>").attr("href", `${userObj.subDomain}/upcoming_celebrations`));
                  }


            }
            staticTabloader(false,false)
        })

    </script>
    <style>
        .container-fluid {
            background: #F4F7FA;
        }

</style>
  </head>
<body>
    <main role="main" class="container-fluid">
        <div class="row flex-row-reverse">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="firstDiv" style="display:none">
                    <div class="ProfilSection">
                        <div class="userProfileOnly">
                            <div class="userProfileImage">
                                <!-- <image src="https://over.achievers.com/platform_content/shard_1/ilr/public/user/13518386/KC0jJEYuIyxIODNg/icon_med.jpg" class="rounded-circle userProfileImageTag">
                                -->
                            </div>
                            <div class="userProfileName">
                                <!-- User Name -->
                                <div class="recipientName">
                                </div>
                                <!-- <div class="seePrflClass" style="font-size: 14px;">See profile
                                        <i class="fa fa-long-arrow-right rightArrow" aria-hidden="true"></i>
                                    </div> -->
                                <div class="SeePrflClass" id="seePrflClasslink">
                                    <span class="See_Profile">See profile</span>
                                    <img class="imgArraow" src="../../docs/long-arrow-right.png" alt="">
                                </div>
                                <div class="hide-on-mobile showHideActivities" style="display: none;">
                                    <i class="fa fa-ellipsis-h"></i>
                                </div>



                            </div>
                            <div class="showHideActivities  d-sm-block d-md-none d-lg-none">
                                <!-- <i class="fa fa-ellipsis-h"></i> -->
                                <div class="dropdown filterDropdownMobile" id="dropDownDivMobile">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <a id="dropdown1" class="hlo-btn-round-dropdown dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" tabindex="1">Filter <i class="fa fa-chevron-down fa-color icon-rotates" aria-hidden="true"></i></a> -->
                                        <span class="desktopFilter d-sm-none d-md-none d-lg-none">Filter <i class="fas fa-chevron-down" style="margin-left: 12px;"></i></span>
                                        <span class="filterIcon d-sm-block d-md-none d-lg-none"><i class="fas fa-ellipsis-v"></i></span>
                                    </button>


                                    <ul id="trippleDotDropDown" class="dropdown-menu allow-focus" aria-labelledby="dropdownMenuButton">
                                        <li><button type="button" class="btn"
                                            value="Create Recognition" id="creacreateRecognitionteRecognition"
                                            onclick="createRecognitionFromNewsFeed()">Create Recognition</button></li>
                                        <li><button type="button" class="btn" onclick="recSuggestionMobile()"
                                            value="Get Recogntion Suggestion" id="getRecSuggest">Get recognition suggestions </button></li>
                                        <li><button type="button" class="btn" onclick="upcomingCelMobile()"
                                            value="Create Recognition" id="upcomingCelebrations">upcoming celebrations</button></li>
                                        <li><button class="btn Sign_outMobile" onclick="newsfeedSignOut();" type="button">Sign out</button></li>
                                    </ul>
                                </div>





                            </div>
                        </div>
                        <div class="col-sm-12 recognitionButton">
                            <button type="button" class="btn createRecognitionbtn Create_Recognition" value="Create Recognition" id="createRecognition"
                                        onclick="createRecognitionFromNewsFeed()">Create Recognition</button>
                        </div>
                        <div class="Get_recognition_suggestions" style="display:none">
                            <span>Get recognition suggestions</span>
                        </div>

                        <div class="col-sm-12 recognitionSuggestions">

                            <div id="hide_Suggestions">
                                <header class="Recognition_Suggestions">Recognition Suggestions
                                    <div class="hide_tooltip" onclick="hidePopupTest()"><img class="size_of_img"
                                            src="../../docs/hide_recognition.png" />
                                        <span class="popuptext Hide_Suggestions" id="hide_recognition_popup"
                                            onclick="RecognitionSuggestionToggle(true)">Hide suggestions</span>
                                    </div>
                                </header>


                            </div>
                            <div class="recognitionLoader" id="recognitionloaderId" style="display: none;">
                                <div class="spinner-border text-theme"></div>
                            </div>
                            <div id="groupImagesSingle"></div>
                            <div id="groupImagesDouble">

                            </div>
                            <div id="collaborationImages">

                            </div>
                            <div id="groupImagesAboveTwo">

                            </div>
                            <!-- <div id="recognitionSuggestions">
                                </div> -->
                            <div id="noSuggestionsPreview" style="display: none;">
                                <img class="imgArraow" src="../../docs/office.png" alt="">
                                <p>No Suggestions Available</p>
                            </div>

                        </div>
                        <div class="col-sm-12 celebrationsnudgesList">
                            <div class="nudgesCelebrationHeader">
                                <header class="nudgesCelebrationName Celebrations">Celebrations</header>
                                <div class="nudgesSeePrflClass">
                                    <span class="See_All">See all</span>
                                    <img class="imgArraow" src="../../docs/long-arrow-right.png" alt="">
                                </div>
                            </div>
                            <div class="celebrationloader" id="celebrationloaderId" style="display: none;">
                                <div class="spinner-border text-theme"></div>
                            </div>
                            <div id="nudgesUserProfileOnly">

                            </div>
                        </div>
                        <div class="col-sm-12 userProfileSignout">
                            <button class="btn userPrflBtnClass Sign_out" onclick="newsfeedSignOut();" type="button">Sign out</button>
                        </div>
                    </div>
                </div>
            </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="staticTabContainer">
                <div class="firstDiv" style="display:none">

                    <h5 class="recentActivity Recent_Activity">Recent Activity</h5>
                    <h6 class="backtoRecentActivity" onclick="reloadPage();"><span class="backToRecentIcon"><i class="fas fa-angle-left"></i></span> Back to Recent Activity</h6>
                    <!-- Filter section -->

                    <div class="dropdown filterDropdown" id="dropDownDiv">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButtonWeb" data-bs-toggle="dropdown"  data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                            <!-- <a id="dropdown1" class="hlo-btn-round-dropdown dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" tabindex="1">Filter <i class="fa fa-chevron-down fa-color icon-rotates" aria-hidden="true"></i></a> -->
                            <span class="desktopFilter">Filter <i class="fas fa-chevron-down" style="margin-left: 12px;"></i></span>                            <!-- <img src="../../docs/filterIcon.png" style="margin-left: 12px;"> -->
                        </button>
                        <span class="btn dropdown-toggle" type="button" id="dropdownMenuButtonMobile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><i class="fas fa-filter" aria-hidden="true"></i></span>
                         <!-- <ul id="regionBasedFilter" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="filterSection">

                            </div>
                            <div class="filterBtnSection">
                                <li class='text-center'>
                                    <button type='button' class='btn-xs clear close-dropdown'
                                        onclick="unCheckFilterSelection()" value='Clear'>Clear</button>
                                    <button type='button' class='btn btn-xs  save'
                                        onclick="updateNewsfeedConfigurationOfUser()" value='Save'>Save</button>
                                </li>
                            </div>
                        </ul> -->

                        <ul class="dropdown-menu allow-focus" id="regionBasedFilter" aria-labelledby="dropdownMenuButton">
                            <div class="filterSection">

                            </div>
                            <div class="filterBtnSection">
                                <li class='text-center'>
                                    <button type='button' class='btn-xs clear close-dropdown' onclick="unCheckFilterSelection()" value='Clear'>Clear</button>
                                    <button type='button' class='btn btn-xs  save' onclick="updateNewsfeedConfigurationOfUser()" value='Save'>Save</button>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="showFiltersDiv" style="display: none;">
                        <i class="fa fa-filter"></i>
                    </div>
                    <div class="activityArea">
                      <!--News Feed activity area-->
                    </div>
                    <!-- News Feed Deatiled View-->
                    <div class="feedDetailedView">

                    </div>
                    <div class="commentActivityArea">

                    </div>

                    <div class="recogniseFromMobileView d-sm-block d-md-none d-lg-none">
                        <button class="btn recognisBtn" onclick="createRecognitionFromNewsFeed()" type="button">
                            <span class="recognisBtnIcon"><i class="fas fa-plus"></i></span>
                        </button>
                    </div>

                    <div class="showMoreClass">

                        <button class="btn showMoreBtnClass Show_More" id="showMoreButtonId"  type="button" onclick="showMoreActivities(newsFeedActivities)">
                            Show More
                        </button>
                        <button class="btn showMoreBtnClass showMoreBtnClassLoader" id="showMoreloaderId" >
                            <div class="spinner-border staticTab-theme"></div>
                        </button>
                    </div>
                </div>
                <div class="row secondDiv" style="display:none">
                    <div class="col-sm-12">
                        <h5 class="achieversHeader">Achievers</h5>
                    </div>
                    <div class="col-sm-12 fall_back_card_above_text">
                        <p>A teammate of yours recently added me to help your team recognize colleagues right from Teams!</p>
                    </div>
                    <img class="col-sm-12" src="../../docs/appStoreImage.png" alt="" style="margin-bottom: 10px;">
                    <div class="col-sm-12 fall_back_card_below_text">
                        <p>To recognize a colleague, click the (...) menu below the <i>Type a new message</i> field, and select the <b>Achievers</b> app. If in mobile, select the (+) button. To use this app, you must have an active Achievers account. If you have any questions about this app, click <b>Learn More</b>. We recommend using the desktop Microsoft Teams or the up-to-date browser to ensure you have the best Achievers for Teams experience. This app supports Chrome, Microsoft Edge, and Firefox on desktop and both iOS and Android devices.</p>
                    </div>
                    <div class="col-sm-12">
                        <a href="https://www.achievers.com/connect/teams/" target="_blank">
                            <button type="button" class="btn learnMoreButton btn-success Learn_More">Learn more</button>
                        </a>
                    </div>
                </div>
                <div class="row thirdDiv" style="display:none">
                    <div class="modal fade" id="exampleModalCenter"  data-backdrop="true"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
                        <div class="modal-dialog boostClickModal" id="openBoostModal" role="document">
                        </div>
                    </div>
                    <div class="modal fade" id="BoostModalCenter" data-backdrop="true"  tabindex="-1" role="dialog" aria-labelledby="BoostModalCenterTitle" aria-hidden="true" >
                        <div class="modal-dialog" id="BoostModalOpen" role="document">
                        </div>
                    </div>
                    <div class="modal fade" id="LikesModalCenter" tabindex="-1"  data-backdrop="true" role="dialog" aria-labelledby="LikesModalCenterTitle" aria-hidden="true" >
                        <div class="modal-dialog" id="LikesModalOpen" role="document">
                        </div>
                    </div>
                    <div class="modal fade" id="RecogSuggestionModalCenter" tabindex="-1"  data-backdrop="true" role="dialog" aria-labelledby="RecogSuggestionModalTitle" aria-hidden="true" >
                        <div class="modal-dialog" id="RecogSuggestionModalOpen" role="document">
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

        </div>

        </div>
    </main>



            <div class="loading" id="staticTabloaderId" style="display:none">
                <div class="spinner-border text-theme"></div>
            </div>
    <div class="loading boostEventloader" id="boostEventloaderId" style="display:none">
        <div class="spinner-border text-theme"></div>
    </div>

  </body>
</html>
