<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@microsoft/teams-js@1.5.0/dist/MicrosoftTeams.min.js" integrity="sha384-EKT9Wswdn78EAHAqcOh50wnaPfH3aPa7YZ1R89/TCN98AhkqZJ2g47u4k2I5eCk8" crossorigin="anonymous"></script>
    <script src="https://browser.sentry-cdn.com/5.9.1/bundle.min.js" integrity="sha384-/x1aHz0nKRd6zVUazsV6CbQvjJvr6zQL2CHbQZf3yoLkezyEtZUpqUNnOLW9Nt3v" crossorigin="anonymous"></script>
    <script>var pgDetails = <%-pgDetails%>
      Sentry.init({ dsn: pgDetails.sentryDsnFe });
    </script>
    <link rel="stylesheet" type="text/css" href="../../docs/selectric.css">
    <script src="../../docs/jquery.selectric.min.js"></script>
    <script src="../../docs/apiHandler_2.3.js"></script>
    <script src="../../docs/viewHandler_3.9.js"></script>
    <script src="../../docs/eventHandler_1.2.js"></script>
    <script src="../../docs/langHelper.js"></script>
    <script>
        microsoftTeams.appInitialization.notifyAppLoaded();
        microsoftTeams.appInitialization.notifySuccess(); 
      var notvalid = ['null','undefined',""]
      if (!notvalid.includes(pgDetails.programPk) && !notvalid.includes(pgDetails.userPk))
      {
          (function(apiKey){
              (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=[];
              v=['initialize','identify','updateOptions','pageLoad','track'];for(w=0,x=v.length;w<x;++w)(function(m){
                  o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
                  y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
                  z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');
                  pendo.initialize({
                      visitor: {
                          id: pgDetails.programPk+'-'+pgDetails.userPk,
                          },
                      account: {
                          id: pgDetails.programPk,
                          }
                      });
                      })(pgDetails.pendoInstallationKey);
      }
      
      
    </script>
    <link rel="stylesheet" type="text/css" href="../../docs/viewCSS_2.3.css">
    <style>
      #showRec label {
      display: inline-block;
      margin-bottom: .5rem;
      margin: 0;
      padding: 4px 4px 0 5px;
      }
      
    </style>
  </head>
  <body>
    <div class="loading" id="loader" style="display:none">
      <div class="spinner-border text-theme"></div>
    </div>
    <div class="masterContainer">
      <div id="userDetails">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="recognitionHeader Create_a_recognition">Create a recognition</h5>
          </div>
          <div class="col-sm-5" id="recipients">
            <div class="l-panel">
              <div class="form-group" id="grpUserNamSel">
                <label class="To" for="to">To</label>
                <input class="form-control Enter_a_name" type="text" id="to" placeholder="Enter a name" maxlength="99" onfocus="clearAllWarnings();">
              </div>
              <div class="row" id="recipientContainer">
                <div class="col-sm-73">
                  <button class="btn link-two Add_channel_members" id="btn_addAll" type="button" onclick="addAll();">
                    <svg id="addUserImg" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="10" cy="7" r="1.5" stroke="#484644"></circle>
                      <circle cx="4" cy="8" r="1.5" stroke="#484644"></circle>
                      <path d="M7.5 10.5H12.5V15C12.5 15.8284 11.8284 16.5 11 16.5H9C8.17157 16.5 7.5 15.8284 7.5 15V10.5Z" stroke="#484644"></path>
                      <mask id="mask0" mask-type="alpha" maskunits="userSpaceOnUse" x="2" y="11" width="7" height="5">
                        <path d="M2.5 11.5H8.5V14C8.5 14.8284 7.82843 15.5 7 15.5H4C3.17157 15.5 2.5 14.8284 2.5 14V11.5Z" stroke="black"></path>
                      </mask>
                      <g mask="url(#mask0)">
                        <rect width="4" height="5" transform="matrix(-1 0 0 1 6 11)" fill="#484644"></rect>
                      </g>
                      <rect x="15" y="3" width="1" height="5" fill="#484644"></rect>
                      <rect x="18" y="5" width="1" height="5" transform="rotate(90 18 5)" fill="#484644"></rect>
                    </svg>Add channel members
                  </button>
                </div><span class="tooltiptext Some_members_in_this_group_may_not_be_eligible_to_receive_recognitions_They_will_not_be_added_to_the_recipient_list">Some members in this group may not be eligible to receive recognitions. They will not be added to the recipient list.</span>
                <div class="col-sm-12">
                  <label class="Recipients">Recipients</label>
                  <button id="btn_removeAll" class="Remove_all" type="button" onclick="removeAll();">Remove all</button>
                  <div id="recipientsArea"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="r-panel">
              <div class="form-group">
                <label class="Recognition_type" for="selRtype">Recognition type</label>
                <select class="form-control" id="selRtype"></select>
              </div>
              <div style="text-align:right;margin-top:5px"><span id="pointsbalance" style="display:none;margin-right:5px"></span></div>
              <div id="recogVal">
                <div class="form-group">
                  <label class="Recognition_value" for="selRval">Recognition value</label>
                  <select class="form-control" id="selRval"></select>
                </div>
                <div style="text-align:right;margin-top:5px"><span id="pointSpent" style="display:none;margin-right:5px"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="wrng-msg" id="errorMessage"></p>
          </div>
          <div class="text-right buttonContainer">
            <button class="btn link-one Sign_out" type="button" id="btn_Signout" onclick="signout();">Sign out</button>
            <button class="btn buttonStyling Next" type="button" id="btn_Target2">Next</button>
          </div>
        </div>
      </div>
      <div class="row" id="recogDetails" style="display:none">
        <div class="col-sm-12">
          <h5 class="recognitionHeader Create_a_recognition">Create a recognition</h5>
        </div>
        <div class="col-sm-12" id="recogMessage">
          <div class="form-group">
            <label class="Recognition_message" for="inpRmessage">Recognition message</label>
            <textarea class="form-control Give_a_reason_for_this_recognition" id="inpRmessage" rows="5" maxLength="65000" placeholder="Give a reason for this recognition" onfocus="clearAllWarnings();"></textarea>
          </div>
        </div>
        <div class="col-sm-12">
          <p class="wrng-msg" id="errorMessageRecog"></p>
        </div>
        <div class="text-right buttonContainer">
          <button class="btn link-one Sign_out" type="button" id="btn_Signout" onclick="signout();">Sign out</button>
          <button class="btn buttonLite Back" type="button" id="btn_rt_Back">Back</button>
          <button class="btn buttonStyling Continue" type="button" id="btn_rtNext">Continue</button>
        </div>
      </div>
      <div class="row" id="imageSelection" style="display:none">
        <div class="col-sm-12">
          <h5 class="recognitionHeader Choose_an_image">Choose an image</h5>
        </div>
        <div class="col-sm-12" style="margin-bottom: 10px;">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item"><a class="Default nav-link active" data_id="1" id="defaultImage-tab" data-toggle="tab" href="#defaultImage" role="tab" aria-controls="defaultImage" aria-selected="true" onclick="clearAllWarnings();">Default</a></li>
            <li class="nav-item"><a class="GIF nav-link" id="gif-tab" data_id="2" data-toggle="tab" href="#gif" role="tab" aria-controls="gif" aria-selected="false" onclick="clearAllWarnings();">GIF</a></li>
            <li class="nav-item"><a class="Upload nav-link" id="Upload-tab" data_id="3" data-toggle="tab" href="#upload" role="tab" aria-controls="Upload" aria-selected="false" onclick="clearAllWarnings();">Upload</a></li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="form-group tab-pane fade show active" id="defaultImage" role="tabpanel" aria-labelledby="defaultImage-tab"></div>
            <div class="tab-pane fade" id="gif" role="tabpanel" aria-labelledby="gif-tab">
              <div class="form-group searchDecor">
                <label class="Search_GIFs" for="searchGifs">Search GIFs</label>
                <input class="form-control Search_term" id="searchGifs" type="text" placeholder="Search term"><i class="fa fa-search" aria-hidden="true"></i>
              </div>
              <div class="row" id="gifContainer" style="margin-top: 10px;">
                <div class="col-sm-12">
                  <div id="gifList"></div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="Upload-tab">
              <div class="file-upload-wrapper">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="uploader" id="file-upload-form">
                        <input id="inputFile" type="file" name="fileUpload" accept="image/*" onchange="imgUpload(this)">
                        <label id="file-drag" for="inputFile">
                          <div id="start"></div><i class="fa fa-picture-o" aria-hidden="true"></i>
                          <div class="Upload_an_image">Upload an image</div>
                        </label><span class="icon closeIcon ShowCloseBtn" id="closebtn"></span>
                        <div id="gifimg"><img class="hidden" id="file-image" src="#" alt="Preview"></div>
                      </div>
                    </div>
                    <div class="col-sm-7">
                      <div style="margin-top:23px;">
                        <button class="preview btn buttonStyling Upload_an_image" type="button" onclick="document.getElementById('inputFile').click()" style="text-transform: none">Upload an image</button>
                        <span class="size-limit File_size_limit_is_10MB">File size limit is 10MB</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <p class="wrng-msg" id="errorMessageImage"></p>
        </div>
        <div class="col-lg-12 btn-grid">
          <button class="btn link-one Sign_out" type="button" id="btn_Signout" onclick="signout();">Sign out</button>
          <button class="btn buttonLite Back" onclick="viewPage('recogDetails')" type="button">Back</button>
          <button class="btn buttonStyling Next" type="button" id="btn_Target3">Next</button>
        </div>
      </div>
      <div class="row" id="shareRecognition" style="display:none">
        <div class="col-sm-12">
          <h5 class="recognitionHeader Share_Recognition">Share Recognition</h5>
          <input id="shareCheck" type="checkbox" name="shareCheck">
          <label class="sharelabel Share_with_recipients_managers" for="shareCheck">Share with recipient's manager(s)</label>
        </div>
        <div class="col-sm-12" id="recogMessage">
          <div class="form-group" id="shareRecogbind">
            <label class="Who_else_should_know" for="inpRemoveText">Who else should know?</label>
            <input class="form-control Enter_a_name" type="text" id="inpRemoveText" placeholder="Enter a name" maxlength="99" onfocus="clearAllWarnings();">
          </div>
          <div class="row" id="shareRecogContainer"></div>
        </div>
        <div class="colg-lg-12" id="removeSharedNominees" style="display: none;">
          <div id="showRec">
            <label class="Share_with" for="scales">Share with:</label>
            <div class="col-sm-12 scrollwidth">
              <div id="sharedmanagersArea"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <p class="wrng-msg" id="errorMessageImage"></p>
        </div>
        <div class="col-lg-12 btn-grid">
          <button class="btn link-one Sign_out" type="button" id="btn_Signout" onclick="signout();">Sign out</button>
          <button class="btn buttonLite Back" onclick="viewPage('imageSelection')" type="button">Back</button>
          <button class="btn buttonStyling Continue" onclick="showPreviewOrPoints()" type="button">Continue</button>
        </div>
      </div>
      <!----Points page -->
      <div id="pointsDiv" style="display:none">
        <h4 class="recognitionNotifyHeader Add_points">Add points</h4>
        <div class="row">
          <div class="col-sm-6">
            <p class="pointsP1 Points_available_to_award">Points available to award</p>
            <h4 class="pointsP2" id="pointsAvailToShow"></h4>
          </div>
          <div  class="col-sm-6">
            <p class="pointsP1 Select_points_to_add_per_person">Select points to add per person</p>
            <div  id="selectPointsDivRadio" style="display: none;">
            </div>
            <div  class="selectPointsDivDropdown" id="selectPointsDivDropdown" style="display: none;">
                <div class="form-group">
                    <!-- <label class="Recognition_type Points_per_person" for="selectPointsType">Points per person</label> -->
                    <select class="form-control" id="selectPointsType"></select>
                </div>
                <div id="calPointsDropdown"></div>
            </div>
            <div class="selectPointsDivTextbox" id="selectPointsDivTextbox" style="display: none;">
                <div class="form-group">
                    <!-- <label class="Share_with Enter_number_of_points_each" for="pointsTextbox">Enter number of points each</label> -->
                    <input class="form-control Enter_number_of_points_each" type="number" id="pointsTextbox" placeholder="Enter number of points each" step="1"/>
                </div>
                <div style="text-align:right;margin-top:5px" id="allowedPoints"></div>
                <div style="text-align:right;margin-top:5px"  id="awardedPoints"></div>
                <div style="text-align:right;margin-top:5px"  id="calPoints"></div>
            </div>
          </div>
          <div class="col-sm-12">
              <p class="wrng-msg" id="errorMessageSubmit"></p>
          </div>
          <div class="col-lg-12 btn-grid">
            <button class="btn link-one Sign_out" type="button" id="btn_Signout" onclick="signout();">Sign out</button>
            <button  class="btn buttonLite Back"
                type="button" onclick="showPointsBckBtn()">
                Back
            </button>

            <button id="showRecoPreview" class="btn buttonStyling Preview"  type="button" style="margin-right: 0px;" onclick="afterPointsSelected();">
                Preview
            </button>
          </div>
        </div>
      </div>
      <div class="row" id="previewRecog" style="display:none">
        <div class="col-sm-12">
          <h5 class="recognitionHeader Preview_recognition">Preview recognition</h5>
        </div>
        <div class="col-sm-12" id="recPreview">
          <div class="jumbotron">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-3">
                  <div id="previewImage"></div>
                </div>
                <div class="col-sm-9">
                  <div class="previewText">
                    <h3 class="insideRecogPreview Recognized_for" id="previewRecogCriterion">Recognized for<span id="recogTypePlaceholder"></span></h3><span class="insideRecogPreview" id="previewRecogNominees"></span>
                    <p class="insideRecogPreview" id="previewRecogMessage"></p>
                    <insideRecogPreview><span class="From">From:<strong id="previewRecogFrom"></strong></span></insideRecogPreview>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <p class="wrng-msg errorMessagePost" id="errorMessageSubmit"></p>
        </div>
        <div class="text-right buttonContainer">
          <button class="btn link-one Sign_out" type="button" id="btn_Signout" onclick="signout();">Sign out</button>
          <button class="btn buttonLite Back" type="button" id="btn_Submit_Back">Back</button>
          <button class="btn buttonStyling Post" type="button" id="btn_Submit">Post</button>
        </div>
      </div>
      <div class="row" id="logoutnotification" style="display:none">
        <div class="col-sm-12">
          <div class="text-center" id="logoutblock"><span class="You_have_been_successfully_signed_out_Please_close_this_window">You have been successfully signed out. Please close this window.</span></div>
        </div>
      </div>
      <div class="row" id="sessionexpirynotification" style="display:none">
        <div class="col-sm-12">
          <div class="text-center Your_session_has_expired_To_continue_please_close_this_window_and_reopen_the_Achievers_app" id="logoutblock"><span>Your session has expired. To continue, please close this window and reopen the Achievers app.</span></div>
        </div>
      </div>
      <div id="suggestContainer"></div>
    </div>
  </body>
</html>