@font-face {
  font-family: SegoeUI-Medium;
  src: url(Segoe_UI_Medium.ttf);
}

@font-face {
  font-family: font_awesome;
  src: url(Font_Awesome_5_Pro-Light-300.otf);
}

@font-face {
  font-family: segoeui;
  src: url(Segoe_UI.ttf);
}

@font-face {
  font-family: Lato;
  src: url(https://fonts.googleapis.com/css?family=Lato|Noto+Sans&display=swap);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.close::before {
  font-family: "font_awesome";
  font-weight: 900;
  content: "\f00d";
  cursor: pointer;
  color: #0f7ed6;
  text-align: center;
  position: absolute;
  right: 0px;
  margin-right: 5px;
}

body {
  font-family: Segoe UI, segoeui;
}
#to {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  /* border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none; */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  z-index: 99;
  background-color: #ffffff;
  /*position the autocomplete items to be the same width as the container:*/
  /* top: 0; */
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  /* -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; */
}
/* .autocomplete-items::-webkit-scrollbar {
    width: 0 !important;
  } */
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #eaeaea;
  color: #000000;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #eaeaea !important;
  color: #ffffff;
}
.closeText {
  cursor: pointer;
  color: #0f7ed6;
  text-align: center;
}
.recognitionHeader {
  padding-bottom: 15px;
  font-family: SegoeUI-Medium, Segoe UI, segoeui;
  font-weight: 600;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #17233a;
}
label {
  color: #8c8c88;
  font-weight: bolder;
  font-size: smaller;
}

select:hover {
  background-color: #43458e;
  color: #ffffff;
}

.buttonContainer {
  position: fixed;
  bottom: 15px;
  /* right: 30px; */
  width: 100%;
  padding-right: 50px;
}

.buttonStyling {
  background-color: #6263a7 !important;
  color: #ffffff !important;
  width: 100px !important;
  margin-left: 5px;
  font-family: SegoeUI-Medium, Segoe UI, segoeui;
}

.buttonLite {
  background-color: white !important;
  color: #5c5b5b !important;
  border: solid 1px #bdbdbd;
  width: 100px !important;
  margin-left: 5px;
  font-family: SegoeUI-Medium, Segoe UI, segoeui;
}

/* #recMessage {
    padding-left: 30px;
    padding-right: 30px;
  } */

#heading {
  padding-top: 15px;
}

.userDisplayPanel {
  /* min-height: 35px; */
  font-family: Segoe UI;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
}

.form-control {
  background-color: #f3f2f1;
  color: #000000;
}

::placeholder {
  color: #a5a4a4;
}

.jumbotron {
  background-color: white;
  border: #629bf3;
  border-width: 5px;
  border-style: solid;
  border-radius: 15px;
  padding: 20px;
}

#previewRecogCriterion,
#previewRecogCriterion span {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 0px;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.4;
}

.text-theme {
  color: #722282;
}

/* New css */

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
  }
}
.img-group {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  position: relative;
}
.img-group img {
  width: 40px;
}
.img-group span {
  padding-left: 10px;
}
.cl-img {
  position: absolute;
  right: 0;
  color: #0f7ed6 !important;
  font-weight: bold;
}
.masterContainer {
  padding: 2rem;
}
button.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 30px;
  font-weight: normal;
}
.wrng-msg {
  margin: 0;
  padding: 20px 0;
  font-size: 12px;
  color: #c10808;
}
.wrng-msg#errorMessage {
  margin: 10% 0 0;
  padding: 20px 0;
  font-size: 12px;
  color: #c10808;
}

.btn-grid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 35px;
  position: relative;
}
.btn-grid button {
  margin-left: 15px;
}
.btn-1 {
  border: solid 1px #bdbdbd;
  border-radius: 1.5px;
  background-color: #ffffff;
  color: #5c5b5b;
  padding: 4px 22px;
  font-size: 16px;
}
.btn-1:hover {
  background-color: transparent;
  border: solid 1px #bdbdbd;
  color: #5c5b5b;
}
.btn-1.ext,
.btn-1.ext:hover {
  background-color: #6263a7;
  color: white;
}
.link-one {
  color: #666666;
  font-size: 16px;
  position: absolute;
  left: 20px;
}

.link-two {
  color: #333333;
  background-color: #e1dfdd;
  border-radius: 3px;
  font-weight: 600;
  font-size: 14px;
  padding: 6px;
  width: 100%;
  text-align: center;
  position: relative;
}

.col-sm-73 {
  position: relative;
  display: inline-block;
  border: 1px solid #c8c6c4;
  margin-left: 15px;
  border-radius: 3px;
  width: 100%;
  margin-right: 15px;
  display: none;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  margin-left: 98.8%;
  width: 250px;
  font-size: 12px;
  background-color: #333333;
  color: #ffffff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  transform: translateY(-18%);
}
.col-sm-73:hover + .tooltiptext {
  visibility: visible;
}
.link-two:hover:enabled {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #edebe9;
}

#addUserImg {
  transform: translateY(-3.5px);
}

.link-two:disabled,
.link-two[disabled] {
  background-color: #ffffff;
  opacity: 0.38;
  border: 1px solid #e1dfdd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  border-width: 9px;
  border-style: solid;
  border-color: transparent #333333 transparent transparent;
}

#btn_removeAll {
  display: none;
  float: right;
  clear: left;
  margin: 2px;
  background: none;
  border: none;
  color: #0f7ed6;
  font-weight: bolder;
  font-size: smaller;
}

.link-one i {
  padding-right: 20px;
}
span.normal {
  font-weight: normal;
}
.insideRecogPreview {
  margin: 20px 0;
  display: block;
}
.closeCross {
  font-family: font_awesome;
  color: #0f7ed6;
}
#recipientsArea {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 150px;
  /* -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;  */
}
/* #recipientsArea::-webkit-scrollbar {
    width: 0 !important;
  } */
.searchImg {
  background-color: inherit;
  height: 28px;
}
.searchName {
  position: relative;
  left: 20px;
  margin: 0px !important;
}

.recipientImage {
  height: 28px;
  margin-right: 5px;
}
.receipientName {
  margin-right: 5px;
  margin-left: 10px;
  font-family: Segoe UI, segoeui;
}
.form-control {
  font-family: Segoe UI, segoeui;
}

.jumbotron {
  border-width: 5px;

  border-radius: 8px;

  padding: 24px 16px;
}

.jumbotron h3 {
  margin: 0;
}

.jumbotron #previewRecogNominees {
  font-weight: 600;
}

.jumbotron p {
  margin: 16px 0;
}

#previewRecogFrom {
  font-weight: 600;
}

.selectric .label {
  background-color: #f3f2f1;
  color: #616061;
  font-family: Segoe UI, segoeui;
  font-size: 1rem;
  font-weight: 400;
}

.selectric {
  background-color: #f3f2f1;
  border-radius: 0.25rem;
}

.selectric .button {
  background-color: #f3f2f1;
}

.selectric-items li {
  display: block;
  padding: 10px;
  color: #17233a;
  cursor: pointer;
  font-family: SegoeUI-Medium, segoeui, Segoe UI;
  font-size: 1rem;
}

.selectric-items li.highlighted {
  background: #d0d0d0;
  color: #444;
}

.selectric-items li.selected {
  background: #e0e0e0;
  color: #444;
}

.selectric-hover .selectric-items li:hover {
  background: #43458e !important;
  color: #ffffff !important;
}

.selectric-items .selectric-scroll {
  max-height: 200px;
}
#previewRecogMessage {
  word-wrap: break-word;
}
.link-one {
  color: #666666;
  font-size: 16px;
  position: absolute;
  left: 20px;
}
#logoutblock {
  font-weight: 400;
  font-size: 22px;
  font-family: Segoe UI, segoeui;
  margin-top: 20px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .buttonContainer {
    position: relative;
    /* bottom: 15px; */
    /* right: 30px; */
    width: 100%;
    padding-right: 15px;
    top: 30px;
  }
}
/* Image upload styling */

.searchDecor {
  padding: 10px;
  border: 1px solid;
  border-color: #8c8c88;
  margin-top: 24px;
  margin-bottom: 0;
  border-radius: 4px;
  position: relative;
}

.searchDecor > label {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 0 8px;
  background-color: white;
}

.fa-search {
  position: absolute;
  right: 15px;
  top: 35%;
  color: #ccc;
  font-size: 18px;
}

/* Outlook Navigation styles */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #0078d4;
  border-bottom-color: #0078d4;
  border-bottom: 2px solid #0078d4;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.nav-tabs .nav-link {
  color: #000000;
  padding: 10px 18px;
}
.card-header-tabs {
  border-bottom: 1px solid #999999;
  margin: 0;
}
.form-group.upload-img {
  border: none;
  padding: 0 0 5% 0;
  width: 100%;
}
/* .upload-img .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 17em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    color: #969292e0;
  }
  */
.upload-img .form-control-file:before {
  content: attr(data-title);
  position: absolute;
  left: 0;
  width: 100%;
  /* min-height: 32em; */
  min-height: 15em;
  line-height: 5em;
  padding-top: 5em;
  opacity: 1;
  visibility: visible;
  text-align: center;
  border: 1px dashed #969292e0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
.upload-img .fa.fa-picture-o {
  position: absolute;
  top: 20%;
  font-size: 50px;
  text-align: center;
  left: 0;
  right: 0;
  color: #969292e0;
}
.file-upload-wrapper .btn-block {
  margin-bottom: 2%;
}
.col-sm-7 .buttonStyling {
  cursor: pointer;
  width: 50% !important;
}
.size-limit {
  font-size: 11px;
  display: block;
  color: gray;
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
}
.footer-copyright a {
  padding: 5px;
  color: #0078d4;
}
.footer-copyright {
  margin-top: 40px;
  /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
}
.form-group#defaultImage {
  border: none;
  padding: 0;
  margin: 20px 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

#gifContainer {
  margin-top: 10px;
  min-height: 200px;
  overflow-y: scroll;
  height: 300px;
}
#gifList {
  padding-inline-start: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#image_upload_preview {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
  position: relative;
  display: block;
}

#gifList div {
  border: 2px solid #f2f2f2;
  float: left;
  height: 200px;
  padding: 2px;
  text-align: center;
  width: 200px;
  overflow: hidden;
  position: relative;
  margin: 2px;
}
#gifList div.borderBlue {
  border: 2px solid #43458e;
}
/* #gifList div:nth-child(odd) {
    clear: both;
} */

#gifimg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  position: absolute;
  top: 25px;
  left: 0;
}
.thumb-image {
  height: 196px;
  margin: 0 auto;
  display: block;
}

.preview.btn:hover {
  color: #ffffff;
}

#closebtn.close::before {
  right: 4px;
  top: 4px;
}

#closebtn.close {
  cursor: pointer;
  height: 35px;
  position: absolute;
  top: 2%;
  width: 35px;
  right: 2%;
  background: #fff;
  text-align: center;
  padding: 0px;
  border-radius: 50%;
  z-index: 999999999;
}

.defaultImage {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.gifImage {
  width: 100%;
  height: auto;
  top: 50%;
  position: RELATIVE;
  transform: translateY(-50%);
}

/* #previewImage{
    width: 100%;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
} */

#previewImage img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#searchGifs {
  border: none;
  background-color: inherit;
}

.close#closebtn {
  cursor: pointer;
  height: 29px;
  position: absolute;
  top: 20px;
  width: 30px;
  right: 16px;
  background: #fff;
  text-align: center;
  padding: 12px;
  border-radius: 50%;
  z-index: 999999999;
  margin: 2px;
}
.form-group.upload-img {
  border: none;
  padding: 0 0 5% 0;
}

.form-control-file::before {
  content: attr(data-title);
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 12em;
  line-height: 5em;
  padding-top: 5em;
  opacity: 1;
  visibility: visible;
  text-align: center;
  border: 1px dashed #949191e0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.upload-img .form-control-file {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 12em;
  outline: none;
  visibility: hidden;
  cursor: pointer;
  color: #999;
}
.upload-img .fa.fa-picture-o {
  position: absolute;
  top: 25%;
  font-size: 50px;
  text-align: center;
  left: 0;
  right: 0;
  color: #999;
}
.file-upload-wrapper .btn-block {
  margin-bottom: 2%;
}

.custom-input span {
  color: #999;
  font-size: 12px;
  text-align: center;
  position: relative;
  display: block;
  top: 50%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* .close#closebtn  {
      top: 42px;
  } */
  .thumb-image {
    height: 196px;
    position: absolute;
    top: 0px;
    width: 100%;
    right: 0%;
    max-height: 196px;
  }

  .upload-img .fa.fa-picture-o {
    top: 50%;
  }
  .custom-input span {
    top: 75%;
  }
}

.custom-input {
  width: 100%;
  height: 100px;
  min-height: 200px;
  display: block;
  cursor: pointer;
  margin: 20px 0;
  border: 2px dashed #999;
  font-size: 25px;
  position: relative;
  color: #fff;
}

.custom-input::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999;
  line-height: 10px;
  margin: 60px 0;
  font-size: 13px;
}

.custom-input input {
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* media quiries for all mobiles and tablets */

@media (min-width: 481px) and (max-width: 767px) {
  #gifList div {
    width: 48.2%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #gifList div {
    width: 48.2%;
  }
}

/* Blob code */

.uploader {
  display: block;
  clear: both;
  margin: 20px auto 0 auto;
  width: 100%;
}
.uploader label {
  clear: both;
  width: 100%;
  min-height: 195px;
  max-height: 195px;
  height: 195px;
  padding: 3rem 1.5rem;
  text-align: center;
  background: #fff;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 2px dashed #999999;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
  color: gray;
  font-size: 14px;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 3px;
  transition: all 0.2s ease-in-out;
  color: gray;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  min-height: 100%;
  height: 195px;
  max-width: 100%;
  padding: 2px;
  display: block;
  margin: 0 auto;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}

.uploader input[type="file"] {
  display: none;
}

.ShowCloseBtn {
  display: block;
  float: right;
  z-index: 9999;
  position: absolute;
  right: 6%;
  top: 18%;
  background: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  opacity: 1;
}

#recogTypePlaceholder {
  padding: 0 6px;
}

#recogMessage {
  padding: 5px 15px 0px 15px;
}
.sharelabel {
  font-weight: initial;
  padding: 0 0 0 5px;
}

#showRec .col-sm-12 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#sharedmanagersArea {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 150px;
}
#removeSharedNominees .scrollwidth {
  padding: 0px 5px 0px 5px !important;
}

#removeSharedNominees {
  width: 100%;
  padding: 0px 15px 0px 15px;
}

/**Points screen*/
.pointsP1 {
  font-family: SegoeUI-Medium, Segoe UI, segoeui;
  font-size: 15px !important;
  margin-bottom: 3px !important;
  font-weight: 500;
}
.pointsP2 {
  font-size: 24px !important;
  margin-bottom: 18px !important;
}
.pointsRadionIn {
  margin-right: 7px;
}
.pointsRadioLabel {
  font: inherit;
  font-size: 15px !important;
  font-weight: bold;
  margin-bottom: 0px !important;
  color: inherit !important;
}

.pointsRadioLabel2 {
  margin-left: 20px;
  font: inherit;
  font-size: 15px !important;
  /* font-weight: bold; */
}

.selectPointsDivTextbox {
  font-size: 12px !important;
}
.selectPointsDivDropdown {
  font-size: 12px !important;
}

.recognitionNotifyHeader {
  padding-bottom: 15px;
  font-family: SegoeUI-Medium, Segoe UI, segoeui, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.learnMoreButton {
  background-color: #5b15ff !important;
  color: #ffffff !important;
  font-family: SegoeUI-Medium, Segoe UI, segoeui;
  padding: 15px;
  border-radius: 35px;
}

.achieversHeader {
  margin-bottom: 15px;
  font-family: SegoeUI-Medium, Segoe UI, segoeui;
  font-weight: 500;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /* color: #17233a; */
}

/*News feed activity*/
.staticTabContainer {
  margin: auto;
  width: 100%;
}
.userProfile {
  margin: 0px !important;
  padding: 12px 0px 0px 0px;
}

.cardClass {
  margin-top: 15px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 5px #f8f8f8;
}

.participantDisplayPanel,
.userDisplayPanelBelow,
.commentsSection {
  min-height: 40px;
  font-family: Lato;
  font-weight: normal;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  padding-left: 10px;
}

.commentsSection {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}
.participantDisplayPanel {
  padding-left: 0px !important;
}
/* .participantDisplayPanel .card-img-top{
  cursor: pointer;
} */
.userDisplayPanelBelow {
  padding-top: 0px;
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #595959;
}

.userDisplayImage {
  width: 36px;
  border-radius: 26px !important;
  height: 35px;
}

.seePrflClass,
.creatorName,
.nudgesrecipientName,
.nudgesrecipientEvent,
.nudgesrecipientDate,
.suggestionMsg {
  margin-right: 5px;
  margin-left: 10px;
  font-family: Lato;
}
.recipientName {
  margin-right: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
}
.creatorName {
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #595959;
}

.userProfileImage {
  margin-right: 16px;
  float: left;
}
.nudgesuserProfileImage {
  margin-right: 8px;
  margin-bottom: 12px;
  float: left;
}

.celebrationsnudgesList #nudgesUserProfileOnly .nudegeslistbody .nudgesuserProfileImage
 {
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 12px;
  float: left;
}
.recognitionSuggestionsList .nudgesuserProfileImage{
  /* margin-right: 6px;
  margin-bottom: 10px;
  float: left; */
}
/* .userProfileName,
.nudgesuserProfileName {
  width: 100%;
} */

.userProfileName {
  float: left;
}


.userProfileImageTag{
  width: 36px;
  height: 36px;
  /* margin-right: 5px; */
}
.userProfileSignout {
  float: right;
  /* text-align: end;
  float: left;
  padding-right: 0px !important; */
}

/* NewsFeed page profile section*/
.ProfilSection {
  width: 100%;
}
.userProfileOnly {
  padding-left: 0px !important;
  padding-bottom: 20px;
  display: inline-block;
  width: 100%;
  /* float: left; */
}
.rightArrow,
.seePrflClass,
.createRecognitionbtn {
  color: #3d3df1;
}

.userPrflBtnClass {
  background-color: #ffffff;
  width: 40%;
  border-color: #cbd0d7;
  padding: 9px;
  border-radius: 26px;
  font-family: Lato;
  float: right;
}

.card-body {
  /* padding:10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  cursor: pointer;
}

.boostClass,
.likeClasspopup {
  margin: 10px 0px 10px 0px;
  background: #ffffff;
  border: 1px solid #dce0e5;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 10px;
  width: 78px;
  height: 48px;
}
.likeClasspopup {
  padding: 0;
}

.boostImage {
  height: 16px;
  margin-right: 4px;
}
.likeImage {
  color: #b00000;
  margin-right: 4px;
}
.boostClass {
  margin-right: 10px;
  color: #ff8a00;
  float: left;
  padding: 0;
}
/* .comments_input {
  width: 100%;
} */
.commentsClass {
  margin: 10px 0px 10px 0px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 10px;
  color: #0000f0;
}
.participantsImagesDiv {
  /* padding: 14px; */
  display: flex;
  position: relative;
  padding: 12px;
}
.recogniseInsightsRounded {
  width: 48px;
  border-radius: 26px !important;
  height: 48px;
}

.rImg2,
.rImg3,
.rImg4,
.recognitionOthersDiv {
  margin-left: -20px;
}

.recognitionSuggestionsList .rImg2 {
  margin-left: -20px;
}
.recognitionSuggestionsList .secondLeft {
  margin-left: -20px !important;
}

.img-thumbnail {
  padding: 3px !important;
  border: none;
}

/* .recognitionOthersDiv {
  background-color: #dee2e6;
  border: 3.5px solid #fff;
  color: #5f4b8e;
  margin-left: -20px;
  text-align: center;
  line-height: 40px;
  width: 48px;
  border-radius: 26px !important;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
} */

.participantsRecText,
.participantsRecText2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.29px;
}
.detaileFeedParticipant b{
padding: 0 2px;
}
.card-title{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.285714px;
  color: #4d4d4d;
}

.card-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.29px;
  color: #4d4d4d;
}

.participantsRecText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px !important;
}

.participantsRecText2 {
  margin-left: 6px !important;
}

.showMoreClass {
  text-align: center;
}

.showMoreBtnClass {
  background-color: #3d3df1 !important;
  width: 100px !important;
  border-color: #3d3df1;
  padding: 11px;
  border-radius: 25px;
  width: 111px !important;
  margin: 20px;
  color: #fff;
}

.dot {
  height: 5px;
  width: 5px;
  margin: 3px 5px 0px 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: #595959;
}

.staticTab-theme {
  color: #fff;
}

.showMoreBtnClassLoader {
  display: none;
  border: none;
  padding: 9px !important;
}

.recentActivity {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.428572px;
  color: #4d4d4d;
  padding-top: 12px;
  padding-bottom: 12px;
}

.recgTextBTag {
  margin: 0px 4px 0px 0px;
}
.userNSeePrfl {
  margin-bottom: 0px !important;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.285714px;
  color: #000000;
}

.recgTextBTag a,
.userProfileName a,
.creatorName a,
.recgTextNominate a,
.participantsRecText a,
.participantsRecText2 a,
.card-title a,
.card-text a,
.nudgesuserProfileName a {
  color: #212529;
  text-decoration: none;
}
/** Boost Hover styles*/
.cardClassHover {
  width: 253px;
  max-height: 380px;
  overflow-y: auto;
  pointer-events: auto !important;
}

.cardHoverBorder {
  border: 1px solid #dce0e5;
  position: relative;
  width: 198px;
  height: 0px;
  left: 16px;
}

.boostHoverImage,
.userHoverImage {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cbd0d7;
  box-sizing: border-box;
  border-radius: 24px;
  text-align: center;
}

.boostClassHover {
  padding: 10px 15px 10px 16px;
  margin-left: 0px;
  margin-right: 0px;
}

.boostedTextImage {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: -2px;
  margin-top: 9px;
}
.hasBoostedText,
.boostedUserText {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.285714px;
  color: #4d4d4d;
  margin-left: 16px;
}

.userTextImage {
  width: 40px;
  border-radius: 25px !important;
  height: 40px;
}

.userHoverImage {
  border: none;
  float: left;
  width: 20%;
}

.boostedUserText {
  font-weight: normal;
  float: left;
  width: 60%;
}

.boostHoverDialog {
  position: absolute;
  z-index: 80;
  bottom: -8px;
  right: 81px;
  border-radius: 16px;
}
.hoverDialog,
.boostHoverDialog {
  margin: 0px !important;
}

.boostClickModal {
  width: 50%;
  height: auto;
  /* margin: 10vh auto; */
  background: #ffffff;
  padding: 2rem;
  outline: none;
  border-radius: 24px;
  text-align: center;
  max-width: 100%;
  min-width: 50%;
}
.boostClickModal .boostkeyBoard {
  width: 50%;
  height: auto;
  max-width: 100%;
  min-width: 50%;
}
.hrClass {
  width: 30%;
  height: 1px;
  margin: auto auto 5% auto;
}

.boostClickTitle {
  font-family: Lato;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #4d4d4d;
}

.boostClickClose {
  cursor: pointer;
  pointer-events: auto;
  float: right;
  right: 0;
}
.boostClickCross {
  color: #452d7c !important;
  font-size: 24px;
  font-weight: bold;
}
.sendPointsText,
.totalPointsText {
  text-align: center;
}

.sendPointsText,
.totalPointsTxt {
  font-family: Lato;
}

.sendPointsText {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.29px;
  color: #595959;
  margin-bottom: 0px !important;
}

.boostClickPointsTxt {
  margin-top: 28px;
}

.totalPointsText {
  font-size: 14px;
  color: #595959;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.boostPostClick {
  width: 95px;
  height: 48px;
  background-color: #5b15ff;
  border-color: #5b15ff;
  border-radius: 24px;
  pointer-events: auto;
  color: #ffffff;
}
.boostPostClickP {
  margin-bottom: 0px;
  color: #fff !important;
  text-decoration: none !important;
}

.boostWhiteImage {
  width: 12px;
  height: 16px;
  margin-bottom: 3px;
}

.boostEventloader {
  z-index: 1111 !important;
}

.celebrationloader {
  position: relative;
  z-index: 999 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 40%;
}

.recognitionLoader {
  position: relative;
  z-index: 999 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 40%;
}

.signcardpop {
  margin: 10px 0px 10px 0px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 10px;
  width: 115px;
  height: 48px;
  background: #5b14ff;
  float: right;
}

.sign_card {
  color: #fff;
  padding-top: initial
}
.celebration_card{
  margin-left: inherit;
}

.wrng-msg-boost {
  padding: 11px 0 !important;
  font-size: 14px;
  font-family: Lato;
}

.boostDisable {
  pointer-events: none !important;
}

a.recognitionImg {
  width: 100%;
}

.createRecognitionbtn,
.createRecognitionbtn:hover {
  background: #5b15ff;
  color: #ffffff;
  width: 100%;
  border-radius: 26px;
  border: 1px solid #5b15ff;
  font-size: 16px;
  font-family: Lato;
  padding: 9px;
  border-radius: 26px;
}

.celebrationsnudgesList, .recognitionSuggestions {
  padding: 0;
  background: #f4f7fa;
  margin-bottom: 20px;
  border: 1px solid #dce0e5;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 1px 1px 5px 5px #f8f8f8;
}
.recognitionSuggestions {
  margin-bottom: 10px;
  /* float: left; */

}
.recognitionButton {
  width: 100%;
  padding: 0;
}
.nudgesrecipientName {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  letter-spacing: 0.25px;
}
.recognitionSuggestionsList .nudgesrecipientName {
  font-weight: 700;
}

.recognitionSuggestionsList .recognitionOthersDiv {
  width: 36px !important;
    height: 36px;
    position: relative;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    background: #EBEDF0;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 10%), 0px 0px 8px rgb(0 1 3 / 10%);
    color: #0000F0;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #fff;
    vertical-align: middle;
    bottom: 35px;
    min-width: 36px;
    min-height: 36px;
    border-radius: 26px;
    right: 15%;
    float: right;
}

.recognitionSuggestionsList .nudgesrecipientName .othersCount {
  color: #0000f0;
  cursor: pointer;
}

.nudgesrecipientEvent,
.nudgesrecipientDate,
.suggestionMsg {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-left: 52px;

}

.celebrationsnudgesList .userProfileOnly {
  padding-left: 0px;
  padding-bottom: 10px;
  display: block;
  border-bottom: 1px solid #dce0e5;
}

.recognitionSuggestionsList .userProfileOnly {
  padding-left: 0px;
  padding-bottom: 0;
  float: left;
  /* border-bottom: 1px solid #dce0e5; */
  cursor: pointer;
  width: 100%;
}

.celebrationsnudgesList .userProfileOnly a, .recognitionSuggestionsList .userProfileOnly a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.nudegeslistbody {
  padding: 4px 0 0 0;
}
.nudgesCelebrationName,
.recognitionSuggestions header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background: #ffffff;
  color: #333;
  border-bottom: 1px solid #dce0e5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  letter-spacing: 0.25px;
}

.nudgesCelebrationHeader .nudgesSeePrflClass {
  position: relative;
  color: #3d3df1;
  float: right;
  right: 15px;
  bottom: 35px;
}
.nudgesCelebrationHeader .nudgesSeePrflClass span {
  font-size: 14px;
  color: #5b15ff;
  font-weight: 400;
}
.nudegesListArrow {
  float: right;
  bottom: 40px;
  position: relative;
  right: 14px;
}
.recognitionSuggestions .nudegesListArrow {
  float: right;
  bottom: 30px;
  position: absolute;
  right: 10px;
}
.SeePrflClass span {
  font-weight: 400;
  font-family: Lato;
  font-style: normal;
  font-size: 12px;
  color: #5b15ff;
  line-height: 16px;
}
#groupImagesSingle .nudgesuserProfileImage .userProfileImageTag, #groupImagesDouble .nudgesuserProfileImage .userProfileImageTag {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.nudegeslistbody .rightArrow {
  float: right;
  position: absolute;
  top: 15px;
  right: 0;
  padding: 10px;
}

.recognitionSuggestionsList .nudegeslistbody img.imgArraow {
  float: right;
  bottom: 30px;
  position: relative;
}

.flyout {
  position: absolute;
  width: 1000px;
  height: 450px;
  background: red;
  overflow: hidden;
  z-index: 10000;
}

.hidden {
  visibility: hidden;
}

#sugesstionspopup.hide {
  display: none;
}

#sugesstionspopup{
  top: 32%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 16px rgb(0 10 200 / 35%), 0px 1px 4px rgb(0 0 0 / 20%);
  z-index: 99999;
  float: right;
  right: 16px;
  overflow: auto;
  height: auto;
  font-weight: normal;
  width: 70%;
  font-size: 16px;
  position: absolute;
}


#sugesstionspopup .listClass li, .otherUsersList .likeClass li {
  float: left;
  padding: 10px;
}

.othersProfileDIV {
  width: 100%;
  float: left;
  padding: 4px 8px;
}

/* .othersProfileDIV .nudgesrecipientName {
  padding: 8px;
} */

.othersProfileImg img {
  margin-left: 0 !important;
  margin-right: 5px !important;
  }
.othersProfileImg {
  float: left;
}

.otherUsersList .userProfileImageTag {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.otherUsersList .userProfileImageTag.rImg1 {
  float: left;
}

.boostBtn,
.likeClass {
  width: 35px;
}
.dividerline {
  border-right: 1px solid #dce0e5;
  height: 30px;
  margin: 8px 0 8px 0px;
}
/* .likeClass{
  margin-right: 10px;
  color: #FF8A00;
  float: left;
  padding: 0;
} */

#boostCountModal .modal-header,
#LikesCountModal .modal-header {
  justify-content: flex-start;
  padding: 8px 0;
  margin-bottom: 8px;
}

#boostCountModal .modal-dialog,
#LikesCountModal .modal-dialog {
  border-radius: 8px;
  width: 21.4375rem;
  margin: 10vh auto;
}
#boostCountModal .modal-content,
#LikesCountModal .modal-content {
  padding: 16px;
  border-radius: 8px;
  width: 21.4375rem;
  margin: 10vh auto;
}
#boostCountModal .modal-body,
#LikesCountModal .modal-body {
  padding: 8px 0px 0px 0px;
}
.popup-icon {
  border: 1px solid #dce0e5;
  border-radius: 24px;
  background: #ffffff;
  width: 40px;
  height: 40px;
  position: relative;
}

.popup-icon img {
  height: 16px;
  width: auto;
  top: 32%;
  left: 32%;
  vertical-align: middle;
  position: absolute;
}
.modal-title {
  font-size: 16px;
  color: #3b3b3b;
  margin-left: 16px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0.36px;
}

.modal-header .popupCloseBtn:hover {
  background: #dce0e561;
  border-radius: 50%;
  min-height: 40px;
  height: 40px;
  width: 40px;
  margin-top: 0;
  outline: none;
}
.modal-header .popupCloseBtn:focus {
  -webkit-box-shadow: 0 1px 16px rgba(0, 10, 200, 0.35),
    0 1px 4px rgba(0, 0, 0, 2);
  box-shadow: 0 1px 16px rgba(0, 10, 200, 0.35), 0 1px 4px rgba(0, 0, 0, 2);
  outline: none;
}
.modal-header .popupCloseBtn {
  border-radius: 50%;
  min-height: 40px;
  height: 40px;
  width: 40px;
  margin-top: 0px;
  line-height: 4px;
  position: absolute;
  float: right;
  border: none;
  right: 16px;
  outline: none;
  background: #fff;
}
.modal-header .popupCloseBtn .fa-times {
  font-size: 16px;
  vertical-align: top;
}
/* .modal-header .close {
margin: 0;
} */
.event-users-list {
  align-items: center;
  max-height: 272px;
  width: 100%;
  overflow-y: auto;
}
.users-items {
  width: 100%;
  display: inline-block;
  margin: 5px 0;
}
.event-user-img {
  float: left;
}
.event-user-img img {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  margin-right: 16px;
}
.event-user-name {
  font-weight: 400;
  letter-spacing: 0.29px;
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
  margin-top: 8px;
}

.likeClass:hover,
.boostBtn:hover {
  background: #ebedf0;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  outline: none;
}
.likeClass:focus,
.boostBtn:focus {
  outline: none;
}
.boostCount:hover,
.likesCount:hover {
  background: #ebedf0;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  outline: none;
}

.modalLikesIcon {
  top: 12px;
  float: left;
  position: absolute;
  left: 10px;
  color: #b00000;
}

button:focus {
  outline: 0;
}

.fa-heart-o.likeImage {
  color: #3b3b3b;
}

.fa-heart.likeImage {
  color: #b00000;
}

.btn:focus,
.btn:active {
  outline: none !important;
}
.boostClass .btn,
.likeClasspopup .btn {
  border-radius: 24px;
}
.boostClass .btn:focus,
.likeClasspopup .btn:focus {
  outline: none !important;
  box-shadow: 0 1px 16px rgba(0, 10, 200, 0.35), 0 1px 4px rgba(0, 0, 0, 2);
}

.modal {
  background-color: transparent !important;
}
.Get_recognition_suggestions {
  /* position: static;
  left: 27.21%;
  right: 27.21%;
  top: 77.78%;
  bottom: 0%;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* align-items: center;
  letter-spacing: 0.214286px;
  text-decoration-line: underline; */
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.214286px;
  text-decoration-line: underline;
  color: #4d4d4d;
  padding: 12px;
  text-align: center;
}

.Get_recognition_suggestions span {
  text-align: center;
  margin: 0 auto;
}


/* Popup container - can be anything you want */
.hide_tooltip {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  right: 20px;
  }

  /* The actual popup */
  .hide_tooltip .popuptext {
  visibility: hidden;
  color: #000;
  text-align: center;
  padding: 20px 0px;

   /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 151px;

  background: #FFFFFF;
  /* Elevation-2 */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  float: right;
  right: 0;
  top: 30px;
}

  /* Popup arrow */
  .hide_tooltip .popuptext::after {
  /* content: ""; */
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .hide_tooltip .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* Comments Section*/

.comments-Section {
  background: #f4f7fa;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  width: 100%;
}
.comments-Section .col-lg-10 {
  padding-left: 0px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  width: 80%;
  display: inline-block;
}

.DeatilComments .col-lg-10 {
width: 100%;
}

.comments-Section .col-lg-2 {
  padding-left: 0px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 12px;
  margin: 0;
}

.comments-Section .comments-place {
  align-items: center;
    width: 100%;
    min-height: 48px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    border: 1px solid #ebedf0;
    box-sizing: border-box;
    height: auto;
    border-radius: 24px;
    display: inline-block;
}

.DeatilComments .comments-place {
width: 80%;
}

.comment-send-icon {
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  width: 20%;
  height: 48px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #cbd0d7;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 0;
}

.commentSectionMain {
  width: 100%;
  display: inline-block;
  position: relative;
}
.comments-Section .comment-send-icon button {
  width: 100%;
  height: 48px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #cbd0d7;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 0;
}
.comments-Count {
  padding: 12px 0;
  width: 100%;
  margin: 0;
}
.comments-Count span {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.285714px;
  color: #333333;
}

.all-comments-list {
  width: 100%;
  height: auto;
}
.commentsList {
  padding: 12px;
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 10%), 0px 0px 8px rgb(0 1 3 / 10%);
  border-radius: 8px;
  margin: 10px 0;
}

/* dropdown filter css*/



.filterDropdown .dropdown-toggle {
background: #fff;
    border: 1px solid #EBEDF0;
    border-radius: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 104px;
    height: 48px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.29px;

}
.filterDropdown .dropdown-toggle:focus, .filterDropdown .dropdown-toggle:active {
border: none;
outline: none;
}
.dropdown-toggle::after {
opacity: 0 !important;
}

.filterDropdown .dropdown-toggle .rotate {
-moz-transition: all .5s linear;
-webkit-transition: all .5s linear;
transition: all .5s linear;
}


.filterDropdown .dropdown-toggle .rotate.down {
-moz-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
transform:rotate(180deg);
}
.filterDropdown .show img {

}
.filterDropdown .dropdown-menu.show {
margin-right: 0px;
    float: left;
    left: -144px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 248px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 10%), 0px 0px 8px rgb(0 1 3 / 10%);
    border-radius: 8px;
}
.filterDropdown{
/* position: absolute;
    float: right;
    top: 12px;
    display: block;
    padding: 0 0;
    width: 190px;
    height: 48px;
    right: 15px;
    background: #fff;
    border: 1px solid #EBEDF0;
    border-radius: 24px;
    text-align: left; */
}

.filterItems {
width: 184px;
height: 24px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.25px;
padding: 4px 4px;
margin: 0 0 8px 0px;
text-align: left;
display: inline-block;
}
.largecheckbox {
height: 20px;
width: 20px;
left: 2px;
top: 10px;
border-radius: 3px;
position: relative;
display: block;
float: right;
}

.save {
padding: 12px 16px;
width: 96px;
height: 48px;
top: 8px;
background: #5B15FF;
border-radius: 24px;
color: #fff;
}
.save:hover {
background: #5B15FF;
border-radius: 26px;
color: #ffffff;
}
.clear {
border: none;
background: none;
}
.radio-btn {
padding: 0 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #4D4D4D;
}
.filterDropdown .dropdown-menu .text-center {
    /* text-align: center!important; */
    /* bottom: 10px; */
    /* float: right; */
    /* right: 0; */
    float: left;
    left: 40px;
    position: relative;
}




.checkContainer {
position: relative;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
width: 100%;
margin: 0;
}
.dropdown-menu li {
width: 100%;
}

/* Hide the browser's default checkbox */
.checkContainer input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
    top: 8px;
    right: 12px;
    height: 20px;
    width: 20px;
    float: right;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c9ced6;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
background-color: #fff;
border:1px solid #9580ff;
}
.checkContainer:active input ~ .checkmark, .checkContainer:focus input ~ .checkmark  {
background-color: #fff;
border:1px solid #9580ff;
box-shadow: 0px 0px 2px rgb(0 0 0 / 10%), 0px 0px 8px rgb(0 1 3 / 10%);
}


/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
background-color: #5B15FF;
}
.checkContainer:hover input:checked ~ .checkmark {
background-color: #9580ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: block;
  color: #ff000000;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
left: 6px;
top: 2px;
width: 7px;
height: 11px;
border: solid white;
border-width: 0 2px 2px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.filterBtnSection {
width: 100%;
position: relative;
}

.filterSection {
width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.filterDropdown #dropdownMenuButton i{
color:  #5B15FF;;
}
.checkmark:hover, .checkmark:focus {
border: 1px solid #BCB3E2;
}

#sugesstionModal .modal-header {
  position: static;
  width: 600px;
  height: auto;
  left: 0px;
  top: 0px;
  padding: 16px 0 0 16px;
  margin: 0;
  border-bottom: none;
}
#sugesstionModal .modal-header h3 {
  border-bottom: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.428572px;
  color: #4d4d4d !important;
}
#sugesstionModal .modal-dialog {
  border-radius: 8px;
  width: 21.4375rem;
  margin: 10vh auto;
}
/* #sugesstionModal .modal-content {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  top: 100px;
  left: 36px;
  position: absolute;
  width: 600px;
  height: 216px;
  background: #ffffff;
  border-radius: 8px;
} */
#sugesstionModal .suggestionText {
  /* Body */

  width: 100%;
  height: auto;
  top: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.29px;
  color: #4d4d4d;
}
#sugesstionModal .boostClickPointsTxt {
  float: right;
  position: relative;
  margin: 0;
  padding-top: 12px;
}
#sugesstionModal .noThanksButton a {
  color: #442d7c;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.29px;
}
#sugesstionModal .authorizeButton a {
  color: #fff;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.29px;
  color: #4d4d4d;
}

.item-comment {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.29px;
  color: #4D4D4D;
}

.comment-username {
  /* body2 */

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.25px;
  color: #595959;
}

.commented-date {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.25px;

  color: #595959;
}

.commentsList .col-lg-12 {
  padding: 0;
}

.comment-user-img img {
  width: 30px;
  height: 32px;
  letter-spacing: 0.29px;
}
#sugesstionModal .noThanksButton {
  align-items: center;
  padding: 12px 16px;
  position: static;
  top: 0%;
  bottom: 0%;
  background: #ebedf0;
  border-radius: 24px;
  margin: 0px 8px;
}
#sugesstionModal .authorizeButton {
  align-items: center;
  padding: 12px 16px;
  position: static;
  top: 0%;
  bottom: 0%;
  background: #5b15ff;
  border-radius: 24px;
  margin: 0px 8px;
}
#sugesstionModal .modal-body.suggestionBody {
  padding: 12px;
}

/* Popup container - can be anything you want */
.hide_tooltip {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  right: 20px;
  }

  /* The actual popup */
  .hide_tooltip .popuptext {
  visibility: hidden;
  color: #000;
  text-align: center;
  padding: 20px 0px;

   /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 151px;

  background: #FFFFFF;
  /* Elevation-2 */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  float: right;
  right: 0;
  top: 30px;

  }

  /* Popup arrow */
  .hide_tooltip .popuptext::after {
  /* content: ""; */
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .hide_tooltip .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  }

/* .comments-Section.showComments {
  display: none;
} */

#sugesstionModal .modal-header {
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  padding: 16px 16px 0px 16px;
  margin: 0;
  border-bottom: none;
  }
  #sugesstionModal .modal-header h3 {
    border-bottom: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.428572px;
    color: #4d4d4d !important;
  }
  #sugesstionModal .modal-dialog {
    border-radius: 8px;
    width: 21.4375rem;
    margin: 10vh auto;
  }
  #sugesstionModal .modal-content {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    top: 100px;
    position: absolute;
    width: 100%;
    height: auto;
    background: #ffffff;
    border-radius: 8px;
    padding-bottom: 10px;
  }
  #sugesstionModal .suggestionText {
    /* Body */

    width: 100%;
    height: auto;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.29px;
    color: #4d4d4d;
  }
  #sugesstionModal .boostClickPointsTxt {
    float: right;
    position: relative;
    margin: 0;
    padding-top: 12px;
  }
  #sugesstionModal .noThanksButton a {
    color: #442d7c;
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.29px;
  }
  #sugesstionModal .authorizeButton a {
    color: #fff;
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.29px;
  }
  #sugesstionModal .noThanksButton {
    align-items: center;
    padding: 12px 16px;
    position: static;
    top: 0%;
    bottom: 0%;
    background: #ebedf0;
    border-radius: 24px;
    margin: 0px 8px;
  }
  #sugesstionModal .authorizeButton {
    align-items: center;
    padding: 12px 16px;
    position: static;
    top: 0%;
    bottom: 0%;
    background: #5b15ff;
    border-radius: 24px;
    margin: 0px 8px;
  }
  #sugesstionModal .modal-body.suggestionBody {
    padding: 12px;
  }
.aboveTwoNames {
  position: relative;
  float: left;
  left: 20px;

}

.suggestionMsg.newMsg{
  float: left;
}

.firstDiv {
  width: 100%;
  /* padding-left: 12px;
  padding-right: 12px; */
  padding-bottom: 12px;
  padding-top: 12px;
}
/*Media Queries for mobile devices*/

 @media (min-width: 320px) and (max-width: 480px) {
/* .recognitionButton, .Get_recognition_suggestions, .recognitionSuggestions, .celebrationsnudgesList, .userProfileSignout {
  display: none; */
}

.showFiltersDiv {
  /* display: block !important; */
    position: relative;
    float: right;
    bottom: 35px;
}

.showHideActivities {
  /* display: block !important; */
  position: relative;
  float: right;
  bottom: 40px;
}

/* .userProfileOnly {
padding: 0;
} */

.participantsImagesDiv {
  margin: 10px 0px;
}
.participantsImagesDiv .recogniseInsightsRounded.recognitionOthersDiv {
  background-color: #dee2e6;
    border: 3.5px solid #fff;
    color: #5f4b8e;
    margin-left: -20px;
    text-align: center;
    line-height: 40px;
    width: 48px;
    border-radius: 26px !important;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
}
.rImg2, .rImg3, .rImg4, .recognitionOthersDiv {
  /* position: absolute;
  top: 30px;
  margin-left: 0; */
}
#showAllSuggestions .card{
  top: 35px;
  padding: 10px 30px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 16px rgba(0, 10, 200, 0.35), 0px 1px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 99999;
  right: 0px;
  overflow: auto;
  /* height: 220px; */
  font-weight: normal;
  width: 80%;
  font-size: 16px;
}


.recognitionSuggestionsList {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #dce0e5;
}
#groupImagesAboveTwo .nudegeslistbody.rowAClass {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
}
 #groupImagesAboveTwo .recognitionSuggestionsList:last-child {
  border: none;
}
/* #groupImagesAboveTwo .recognitionSuggestionsList {
  border-bottom: 1px solid #dce0e5;
} */
#groupImagesAboveTwo .recognitionSuggestionsList .nudgesuserProfileImage {
  margin-left: 12px;
    margin-bottom: 0;
    float: left;
    margin-right: 0;
}
#groupImagesAboveTwo .recognitionSuggestionsList.aboveTo .nudgesuserProfileImage .rImg2, .rImg3, .rImg4, .recognitionOthersDiv {
  margin-left: 0;
}
.participantsImagesDiv .rImg3{
  margin-left: -20px;
}
#groupImagesAboveTwo .nudgesuserProfileName {
  width: 100%;
  float: left;
}

#groupImagesAboveTwo .nudgesuserProfileName .nudgesrecipientName {
  margin-left: 0;
}
#groupImagesAboveTwo .suggestionMsg.newMsg {
  margin-left: 2px;
  margin-right: 0;
}

#groupImagesAboveTwo .aboveTwoNames {
  width: 100%;
  float: left;
  left: 2px;
}

#groupImagesAboveTwo .nudgesrecipientName .nudegesListArrow {
  float: right;
  top: 0px;
  position: relative;
  right: 5px;
}

#groupImagesAboveTwo .col-sm-12.userProfileOnly{
padding: 0;
}

.noSuggestionsPreview {
  width: 100%;
  vertical-align: middle;
  justify-content: center;
}

#noSuggestionsPreview img {
  width: auto;
  display: block;
  margin: auto;
}
#noSuggestionsPreview p{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.285714px;
  color: #717171;
  padding-top: 16px;
  text-align: center;
}

.backtoRecentActivity {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.428572px;
  color: #4d4d4d;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}
.backtoRecentActivity span {
  cursor: pointer;
}

.backtoRecentActivity span img {
  border-radius: 50%;
  border: 2px solid #5b15ff;
  padding: 3px;
  cursor: pointer;
  width: 20px;
  height: 22px;
}

.backtoRecentActivity span img:hover {
  background: #c1b7ef;
  color: #ffffff;
}


.commentsSeeAll {
  float: right;
  cursor: pointer;
  }

  .commentsSeeAll .See_All {
    color: #5b15ff;
    font-weight: 300;
  }

  .feedDetailedView .card-body {
    cursor: initial;
  }

  .feedDetailedView .participantsRecText2 {
    margin-top: 10px;
  }
.commentMainSecBtn {
  display: inline-block;
  width: 19%;
  height: 48px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #cbd0d7;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 0;
}


.cardClass {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}
.participantDisplayPanel {
  position: relative;
  z-index: 1;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: #ff000000;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.feedItem {
  position: relative;
  display: block;
  cursor: pointer;
}

.d-image-background-wrapper {
  position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.BlurPicture {
  transition: opacity 300ms;
  opacity: 1;
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: blur(0.375rem);
  filter: blur(0.375rem);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.ff-responsive  {
  /* display: inline-block;
  position: relative; */
}
.card-media-container {
  width: 100%;
  position: relative;
  display: flex;
}
.participantDisplayPanel .card-body {
  z-index: 9999;
  background: #ffffff;
}
.ff-canvas.ff-canvas-ready {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: blur(0.375rem);
  filter: blur(0.375rem);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
    opacity: 1;
}
.ff-canvas {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  vertical-align: top;
}
.crop-image {
  width: 100%;
  -webkit-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
    -webkit-transition-delay: 170ms;
    -moz-transition-delay: 170ms;
    -o-transition-delay: 170ms;
    transition-delay: 170ms;
    /* opacity: 0; */
    z-index: 0;
    vertical-align: top;
}

.card-img-top {
  background-color: #ffffff;
  margin: auto;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 21.75rem;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 21.75rem;
}
.image-background-wrapper {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: blur(0.375rem);
  filter: blur(0.375rem);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  position: absolute;
}

.card-img-top {
  position: relative;
}

@media only screen and (max-width: 480px) {

  .recognitionButton, .celebrationsnudgesList, .recognitionSuggestions, .Sign_out {
    display: none;
  }
  .showHideActivities {
    display: block;
  }
  .filterIcon {
  float: right;
  position: relative;
  top: 40px;
  display: inline-block !important;
  right: 0;
}
.desktopFilter {
  display: none !important;
}
.filterIcon .fa-filter {
  color: #333 !important;
}
/* .btn-check:focus+.btn, .btn:focus {
box-shadow: none !important;
border: none !important;
} */
.filterDropdown .dropdown-toggle {
  background: none;
  border: none;
  box-shadow: none;
}
#regionBasedFilter.show {
  left: 38% !important;
  float: none;
}
#trippleDotDropDown.show {
  /* left: -200px !important; */
  float: none;
  top: 25px !important;
  width: 200px;
  padding: 0;
}
/* .filterDropdown .dropdown-menu.show {
  margin-right: 0px;
  float: none;
  left: 38% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 248px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 10%), 0px 0px 8px rgb(0 1 3 / 10%);
  border-radius: 8px;
} */
#trippleDotDropDown li {
  width: 100%;
  height: auto;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.29px;
  color: #000000;
  padding: 8px 12px 8px 12px;
}
#trippleDotDropDown li button {
  padding: 0;
  text-align: left;
}
#trippleDotDropDown li:nth-child(4) {
border-top: 1px solid #CCCCCC;
}

#trippleDotDropDown li:nth-child(4):hover, #trippleDotDropDown li:nth-child(4):focus {
  background: #DCE0E5 !important;
  }
  li:nth-child(4)button:hover {
    background: #DCE0E5;
    }
.filterIcon .fa-ellipsis-v {
  /* color: #333 !important;
  display: inline-block;
  position: relative;
  top: 50px; */
}

.TOP.show {
  display: inline-block !important;
}

#dropdownMenuButtonMobile {
  width: 0;
  padding: 0;
  margin: 0;
  height: auto;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0;
  align-items: center;
  letter-spacing: 0;
  border-radius: 0;
  bottom: 22px;
  display: inline-block !important;
  right: 25px;
  float: right;
}

.celebrationsnudgesList {
  float: left;
  width: 100%;
}
.backtoRecentActivity {
  position: absolute;
  top: 55px;
}
/* .recognitionSuggestions {
  display: block;
  margin-top: 50px;
} */

.recognitionSuggestions, .celebrationsnudgesList {
  margin-bottom: 10px;
  position: relative;
  top: 40px;
}

.show-On-Mobile {
  display: block;
}
.participantsImagesDiv .rImg2 {
  margin-left: -50px;
    margin-top: 13px;
}

.participantsImagesDiv .rImg3 {
  margin-left: -48px;
  margin-top: 26px;
}
.nudgesuserProfileImage .rImg3 {
  margin-left: 8px;
  margin-top: 0px;
}
.participantsImagesDiv .recogniseInsightsRounded.recognitionOthersDiv {
  margin-left: -48px;
  margin-top: 38px;
}
.recentActivity {
  padding-top: 0;
}
.firstDiv, .userProfileOnly {
  padding-bottom: 0
}
.recogniseFromMobileView {
  display: block;
}

.sendBtn-label {
  display: none;
}

.feedDetailedView {
  position: relative;
  top: 20px;
}

.boostClickModal {
  width:100%;
  height: auto;
  /* margin: 10vh auto; */
  background: #ffffff;
  padding: 2rem;
  outline: none;
  border-radius: 24px;
  text-align: center;
  max-width: 100%;
  min-width: 100%;
}
.boostClickModal .boostkeyBoard {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 100%;
}

#groupImagesAboveTwo .nudgesuserProfileName .nudgesrecipientName {
  width: 100%;
}

#groupImagesAboveTwo .nudgesrecipientName .nudegesListArrow  {
  right: 10px;
}
.Get_recognition_suggestions {
  display: none  !important;
}

.Recognition_Suggestions .hide_tooltip {
  display: none;
}
.userDisplayPanelBelow .creatorName {
display: inherit;
}
.userDisplayPanelBelow .userDisplayImage {
  float: left;
  margin-right: 8px;
}

}

.backToRecentIcon .fa-angle-left{
  width: 22px;
    height: 22px;
    border: 2px solid #3d3df1;
    border-radius: 50%;
    line-height: 18px;
    color: #3d3df1;
    text-align: center;
}

.filterIcon,  #dropdownMenuButtonMobile {
  display: none;
}



.milestoneCardImage {
  display: flex;
}

.recogniseFromMobileView {
  /* display: inline-block; */
  float: right;
  position: fixed;
  bottom: 35px;
  z-index: 99999999;
  right: 8%;
}

.recogniseFromMobileView .recognisBtn{
  background: #3d3df1;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #ffffff;
}
.sendBtn-label {
  padding: 8px;
}

#collaborationImages .recognitionSuggestionsList .nudgesuserProfileImage .rImg2 {
  margin-left: 12px;
}
